<div class="title">
  <h2>
    <% if @another_entry %>
      <%= "#{@another_entry.user.name}さんとのメッセージ" %>
    <% else %>
      他のユーザーとのメッセージが見つかりません
    <% end %>
  </h2>
</div>

<div class="message-box">
  <% if @messages.present? %>
    <% @messages.each do |m| %>
      <% if m.user_id == current_user.id %>
        <div class="my-message">
          <div class="balloon">
          <p><%= m.body %></p>
          <p><%= m.user.name %></p> 
          </div>
        </div>
      <% else %>
        <div class="other-message">
          <div class="balloon">
            <p><%= m.body %></p>
            <p><%= m.user.name %></p> 
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="error-message">メッセージがありません。</div>
  <% end %>
</div>

<% if @message.present? %>
  <div class="chat-form-box">
    <%= form_for @message, url: user_messages_path do |f| %>
      <div class="chat-form-group">
        <%= f.text_field :body %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "送信する" %>
      </div>
      <%= link_to "ルームへ戻る", user_rooms_path %>
    <% end %>
  </div>
<% else %>
  <div class="error-message">メッセージがありません。</div>
<% end %>
<head>
<style>
  .my-message {
  float: right; /* 右側に表示 */
  clear: both;
  /* 以下のスタイルは適宜調整してください */
  width: 50%;
  background-color: lightgrey;
  padding: 10px;
  margin-bottom: 10px;
}

.other-message {
  float: left; /* 左側に表示 */
  clear: both;
  /* 以下のスタイルは適宜調整してください */
  width: 50%;
  background-color: lightblue;
  padding: 10px;
  margin-bottom: 10px;
}
.balloon {
  position: relative;
  display: inline-block;
  padding: 10px;
  background-color: #F2F2F2;
  border-radius: 10px;
  font-size: 14px;
}

.balloon:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top-color: #F2F2F2;
}
</head>
</style>