<div class="title">
  <h2>
    <% if @another_entry %>
      <%= "#{@another_entry.user.name}" %>
    <% else %>
      他のユーザーとのメッセージが見つかりません
    <% end %>
  </h2>
   <%= link_to "ルームへ戻る", user_rooms_path, class: "btn btn-primary btn-sm" %>
</div>
<div class="message-box">
  <% if @messages.present? %>
    <% @messages.each do |m| %>
      <% if m.user_id == current_user.id %>
        <div class="my-message">
          <div class="balloon">
          <p><%= m.body %></p>
          <p><%= m.user.name %></p> 
          </div>
        </div>
      <% else %>
        <div class="other-message">
          <div class="balloon">
            <p><%= m.body %></p>
            <p><%= m.user.name %></p> 
          </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="error-message">メッセージがありません。</div>
  <% end %>
</div>
</div>
<% if @message.present? %>
  <div class="chat-form-box">
    <%= form_for @message, url: user_messages_path do |f| %>
      <div class="chat-form-group">
        <%= f.text_field :body %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "送信する" %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="error-message">メッセージがありません。</div>
<% end %>

<style>
/*.message-box {*/
/*  clear: both;*/
/*  align-self: flex-start;*/
/*  width: 100%;*/
/*  background-color: lightblue;*/
/*  padding: 30px;*/
/*  margin-bottom: 20px;*/
/*}*/
  .my-message {
  float: right; 
  clear: both;
  width: -200px;
  background-color: lightblue;
  padding: 30px;
  margin-bottom: 20px;
}

  .other-message {
  float: left; 
  clear: both;
  width: 100%;
  background-color: lightblue;
  padding: 5px;
  margin-bottom: 20px;
}

.balloon {
  position: relative;
  display: inline-block;
  padding: 10px;
  background-color: #F2F2F2;
  border-radius: 10px;
  font-size: 14px;
}

.balloon:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -20px;
  border: 10px solid transparent;
  border-top-color: #F2F2F2;
}
.chat-form-box {
  margin-bottom: 50px;
  text-align: center;
}

</style>
