<div class="bg_pattern Rectangles"></div>
　<h3>検索結果</h3>
　　<% if @model == 'User' %>
  　　<div class="list-group">
    　　<% @records.each do |user| %>
      　　<a href="<%= user_user_path(user.id) %>" class="list-group-item list-group-item-action">
        <%= image_tag user.get_profile_image(100, 100), class: "rounded-circle mr-3" %>
        <%= user.name %>
      </a>
    <% end %>
  </div>
<% elsif @model == 'Post_board' %>
  <ul class="list-group">
    <% @records.each do |post_board| %>
      <li class="list-group-item">
        <a href="<%= user_user_path(post_board.user.id) %>" class="list-group-item list-group-item-action">
        <%= image_tag post_board.user.get_profile_image(100, 100), class: "rounded-circle mr-3" %>
        <br></br>
        <%= post_board.user.name %>
        <p><%= post_board.body %></p>
        </a>
        <% end %>
　　　<% elsif @model == 'Community' %>
  <ul class="list-group">
    <% @records.each do |community| %>
      <li class="list-group-item">
        <div class="item">
        <h5><%= community.name %></h5>
        <p><%= community.explanation %></p>
        <%= link_to "ミーティングへ", user_community_post_boards_path(community), class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>
<% end %>
<style>

.item {
  margin-bottom: 20px; /* 下方向のマージンを追加して要素間の間隔を調整 */
}

.item h5 {
  margin-bottom: 10px; /* h5要素の下方向のマージンを追加 */
}

.item p {
  margin-bottom: 10px; /* p要素の下方向のマージンを追加 */
}

.item .btn-primary {
  margin-top: 10px; /* ボタンの上方向のマージンを追加 */
}
.list-group-item {
  display: flex;
  align-items: flex-start;
  background-color: #EDDCB4;
}
  p {
    font-family: 'Nunito Sans', sans-serif; /* 手書き風の可愛らしいフォントに設定 */
    font-size: 16px; /* 本文の文字サイズを調整 */
    font-weight: bold;
    color: #AA6822; /* テキストカラーを濃いグレーに設定 */
    background-color: transparent(0, 0, 0, 0.4);
  }
  .bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffe9a7;
  opacity: 0.4;
  z-index: -1;
}
.Rectangles {
  background-image:  repeating-linear-gradient(45deg, #ffc107 25%, transparent 25%, transparent 75%, #ffc107 75%, #ffc107), repeating-linear-gradient(45deg, #ffc107 25%, #ffe9a7 25%, #ffe9a7 75%, #ffc107 75%, #ffc107);
  background-position: 0 0, 20px 20px;
  background-size: 40px 40px;
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: .025em;
  line-height: 1.8;
}
* {
  box-sizing: border-box;
}
.section {
  max-width: 1024x;
  margin: 0 auto;
  padding: 100px 20px 1000px;
}
._a {
  max-width: 300px;
  margin: 0 auto;
}
._a a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.0em 1.0em;
  border: 1px solid #222222;
  background: linear-gradient(to right, #ffffff 50%, #222222 50%);
  background-size: 200% auto;
  color: #222222;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  transition: .3s;
  position: relative;
}
._a a:after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #222222;
  border-bottom: 1px solid #222222;
}
._a a:hover {
  color: #ffffff;
  background-position: -100% 0;
}
  </style>