<div class="bg_pattern Rectangles"></div>
　<h3>検索結果</h3>
　　<% if @model == 'User' %>
  　　<div class="list-group">
    　　<% @records.each do |user| %>
      　　<a href="<%= user_path(user.id) %>" class="list-group-item list-group-item-action">
        <%= image_tag user.get_profile_image(100, 100), class: "rounded-circle mr-3" %>
        <%= user.name %>
      </a>
    <% end %>
  </div>
<% elsif @model == 'Post_board' %>
  <ul class="list-group">
    <% @records.each do |post_board| %>
      <li class="list-group-item">
        <a href="<%= community_post_boards_path(post_board.community.id) %>" class="list-group-item list-group-item-action">
        <%= image_tag post_board.user.get_profile_image(100, 100), class: "rounded-circle mr-3" %>
        <br></br>
        <%= post_board.user.name %>
        <p><%= post_board.body %></p>
        </a>
        <% end %>
　　　<% elsif @model == 'Community' %>
  <ul class="list-group">
    <% @records.each do |community| %>
      <li class="list-group-item">
        <div class="item">
        <h5><%= community.name %></h5>
        <p><%= community.explanation %></p>
        <%= link_to "ミーティングへ", community_post_boards_path(community), class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= stylesheet_link_tag 'styles' %>
<style>
 p {
    font-family: 'Nunito Sans', sans-serif; /* 手書き風の可愛らしいフォントに設定 */
    font-size: 16px; /* 本文の文字サイズを調整 */
    font-weight: bold;
    color: #AA6822; /* テキストカラーを濃いグレーに設定 */
    background-color: transparent(0, 0, 0, 0.4);
  }
  
  </style>