<div class="bg_pattern Rectangles"></div>
 <div class="container">
  <div class='row mt-3'>
    <div class="col-md-6">
      <h2><i class="far fa-lightbulb"></i><span>新着ミーティング</span></h2>
      <% @communities.where("created_at >= ?", 1.day.ago).limit(4).each do |community| %>
        <% if community.created_at >= Time.zone.now - 1.day %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= community.name %></h5>
              <h5 class="card-title"><%= community.explanation %></h5>
              <%= link_to "参加する", community_post_boards_path(community), class: "btn btn-primary" %>
              <div class="comment-index">
                <div class="bubble">
                  <div><i class="fas fa-comment"></i>
                    <%= community.comment_count %>
                  </div>
                </div>
              </div>
              <%= render 'user/favorites/favorite', community: community %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2><i class="far fa-lightbulb"></i><span>人気のミーティング</span></h2>
      <% @communities.limit(4).each do |community| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= community.name %></h5>
            <h5 class="card-title"><%= community.explanation %></h5>
            <%= link_to "参加する", community_post_boards_path(community), class: "btn btn-primary" %>
            <div class="comment-index">
              <div class="bubble">
                <div><i class="fas fa-comment"></i>
                  <%= community.comment_count %>
                </div>
              </div>
            </div>
            <%= render 'user/favorites/favorite', community: community %>
          </div>
        </div>
      <% end %>
      </div>
  </div>
</div>
<%= render partial: 'user/searches/genre_search', locals: { genre: @genre } %>
<%= stylesheet_link_tag 'styles' %>
  <style>
.card-body{
  background-color: #FFFFF0;
}
.comment-index .bubble {
  position: absolute;
  bottom: 15px; /* 上からではなく、下からの位置指定に修正 */
  left: 55px;
  color: #cc6600;
  padding: 5px 5px;
  border-radius: ・・・;
}

 h2 {
  position: relative;
  padding: 1.5rem 2rem;
  border: 3px solid #d8d8d8;
  border-radius: 10px;
  background: #FFFFF0;
}

h2:before {
  position: absolute;
  bottom: -14px;
  left: 1em;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 12px 0 12px;
  border-style: solid;
  border-color: #d8d8d8 transparent transparent transparent;
}

h2:after {
  position: absolute;
  bottom: -10px;
  left: 1em;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 12px 0 12px;
  border-style: solid;
  border-color: #f9f9f9 transparent transparent transparent;
}
.communities_paginate{
  width: 100%;
  margin: auto;
}

/* ページネーション全体 */
.pagination{
   text-align: center;
  display: flex;
  justify-content: center;
  height: 70px; /* 適宜変更してください */
}

/* ページネーションのspan */
.pagination span{
  text-align: center;
  width: 50px;
  font-size: 20px;
}

/* ページネーションのリンク文字（a） */
.pagination a{
  color: #818181;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 10px;
}

/* ページネーションの文字にカーソルを載せた時 */
.pagination a:hover{
  width: 50px;
  height: 50px;
  background-color: #84b8eb;
  color: #FFF;
  border-radius: 100%;
  padding: 10px;
}

/* 現在のページの数字についての表記 */
.current{
  font-weight: bold;
  color: #84b8eb;
  padding: 10px;
}
.text {
  font-size: 18px;
  font-weight: bold;
  color: gray;
}
  </style>