<div class="bg_pattern Rectangles"></div>
 <div class="container">
  <div class='row mt-3'>
    <div class="col-md-6">
      <h2><i class="far fa-lightbulb"></i><span>新着ミーティング</span></h2>
      <% @communities.where("created_at >= ?", 1.day.ago).limit(5).each do |community| %>
        <% if community.created_at >= Time.zone.now - 1.day %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= community.name %></h5>
              <h5 class="card-title"><%= community.explanation %></h5>
              <%= link_to "参加する", user_community_post_boards_path(community), class: "btn btn-primary" %>
              <div class="comment-index">
                <div class="bubble">
                  <div><i class="fas fa-comment"></i>
                    <%= community.comment_count %>
                  </div>
                </div>
              </div>
              <%= render 'user/favorites/favorite', community: community %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2><i class="far fa-lightbulb"></i><span>人気のミーティング</span></h2>
      <% @communities.limit(5).each do |community| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= community.name %></h5>
            <h5 class="card-title"><%= community.explanation %></h5>
            <%= link_to "参加する", user_community_post_boards_path(community), class: "btn btn-primary" %>
            <div class="comment-index">
              <div class="bubble">
                <div><i class="fas fa-comment"></i>
                  <%= community.comment_count %>
                </div>
              </div>
            </div>
            <%= render 'user/favorites/favorite', community: community %>
          </div>
        </div>
      <% end %>
      </div>
  </div>
</div>
<%= render partial: 'user/searches/genre_search', locals: { genre: @genre } %>
  <style>
 comment-index {
  display: flex;
}
.comment-index .bubble {
  position: absolute;
  bottom: 15px; /* 上からではなく、下からの位置指定に修正 */
  left: 55px;
  color: #cc6600;
  padding: 5px 5px;
  border-radius: ・・・;
}

 h2 {
  position: relative;
  padding: 1.5rem 2rem;
  border: 3px solid #d8d8d8;
  border-radius: 10px;
  background: #FFFFF0;
}

h2:before {
  position: absolute;
  bottom: -14px;
  left: 1em;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 12px 0 12px;
  border-style: solid;
  border-color: #d8d8d8 transparent transparent transparent;
}

h2:after {
  position: absolute;
  bottom: -10px;
  left: 1em;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 12px 0 12px;
  border-style: solid;
  border-color: #f9f9f9 transparent transparent transparent;
}
.communities_paginate{
  width: 100%;
  margin: auto;
}

/* ページネーション全体 */
.pagination{
   text-align: center;
  display: flex;
  justify-content: center;
  height: 70px; /* 適宜変更してください */
}

/* ページネーションのspan */
.pagination span{
  text-align: center;
  width: 50px;
  font-size: 20px;
}

/* ページネーションのリンク文字（a） */
.pagination a{
  color: #818181;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 10px;
}

/* ページネーションの文字にカーソルを載せた時 */
.pagination a:hover{
  width: 50px;
  height: 50px;
  background-color: #84b8eb;
  color: #FFF;
  border-radius: 100%;
  padding: 10px;
}

/* 現在のページの数字についての表記 */
.current{
  font-weight: bold;
  color: #84b8eb;
  padding: 10px;
}
.text {
  font-size: 18px;
  font-weight: bold;
  color: gray;
}
 .bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffe9a7;
  opacity: 0.4;
  z-index: -1;
}
.Rectangles {
  background-image:  repeating-linear-gradient(45deg, #ffc107 25%, transparent 25%, transparent 75%, #ffc107 75%, #ffc107), repeating-linear-gradient(45deg, #ffc107 25%, #ffe9a7 25%, #ffe9a7 75%, #ffc107 75%, #ffc107);
  background-position: 0 0, 20px 20px;
  background-size: 40px 40px;
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: .025em;
  line-height: 1.8;
}
* {
  box-sizing: border-box;
}
.section {
  max-width: 1024x;
  margin: 0 auto;
  padding: 100px 20px 1000px;
}
._a {
  max-width: 300px;
  margin: 0 auto;  
}
._a a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.0em 1.0em;
  border: 1px solid #222222;
  background: linear-gradient(to right, #ffffff 50%, #222222 50%);
  background-size: 200% auto;
  color: #222222;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  transition: .3s;
  position: relative;
}
._a a:after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #222222;
  border-bottom: 1px solid #222222;
}
._a a:hover {
  color: #ffffff;
  background-position: -100% 0;
}
  </style>
</head>