<div class="bg_pattern Rectangles"></div>
 <div class="container p-4">
  <div class="row">
    <div class="col-4">
      <div class="d-flex flex-column align-items-start">
        <div style="text-align: left">
          <%= image_tag "panda2.png", size: '450x600', class: 'pomuo' %>
           <div class="balloon3-left ml-4">
                   <p>        <br>
                   新規登録の方は <br>
                   こちらからだよ <br>
                   クリック<br>
              <%= render "user/shared/links" %><br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <% if flash[:notice] %>
      <div class="alert alert-danger">
        <%= flash[:notice] %>
      </div>
      <% end %>
<h2 class="mb-4 text-center">ログイン</h2>
    <%= form_with model: @user, url: user_session_path do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="pl-5">メールアドレス</td>
            <td><%= f.email_field :email, style: "width: 400px;" %></td>
          </tr>
          <tr>
            <td class="pl-5">パスワード</td>
            <td><%= f.password_field :password, autocomplete: "current-password", style: "width: 400px;" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "ログイン", class: "btn btn-success", style: "width: 150px;" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
<%= stylesheet_link_tag 'styles' %>
<style>
.mb-4 {
  
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px; /* 見出しの文字サイズを大きく設定 */
    color: #AA6822; /* テキストカラーを目立つ赤に設定 */
}
.pl-5 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px; /* 見出しの文字サイズを大きく設定 */
    color: #AA6822; /* テキストカラーを目立つ赤に設定 */
  }

.balloon3-left {
  left: -160px;
  position: absolute;
  display: inline-block;
  margin: 1.5em 0 1.5em 5px;
  padding: 0 70px;
  width: 270px;
  height: 180px;
  line-height: 110px
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  background: #ffcc75;
  border-radius: 50%;
  box-sizing: border-box;
}

.balloon3-left:before {
  content: "";
  position: absolute;
  top: 60%;
  right: -26px;
  margin-top: -20px;
  border: 15px solid transparent;
  border-left: 15px solid #ffcc75;
  z-index: 0;
}
</style>