
<div class="contents">
  <%= image_tag "panda2.png",:size =>'600x700',class: 'pomuo' %>
<!--<div class="balloon3-left">-->
<!--  <p>初めまして<br>-->
<!--  なんでんかんでんミーティングへ<br>-->
<!--  　ようこそ！<br>-->
<!--  子供の気になることをみんなで話しましょう<br>-->
<!--  まずは、気軽に登録してね！<br>-->
<!--  登録後は気になるミーティングに入って<br>-->
<!--  たくさん話をしましょう！</p>-->
<!--  </div>-->
   <div class="col-md-5 ">
    <h3 class="my-3 p-2" style="background-color: #474343; color: white;">New Meeting</h3>
    <table class="table">
      <tbody>
        <% @community.each do |community| %>
          <tr class="list">
            <td><%= community.name %></td>
            <td><%= community.explanation %></td>
            <% if user_signed_in? %>
              <td>
            <%= link_to "参加", user_community_post_boards_path(community), class: "btn btn-primary" %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="users_paginate">
    <%= paginate @community %>
   </div>
  </div>
</div>
  
  <style>
.users_paginate{
  width: 100%;
  margin: auto;
}

.pagination{
  text-align: center;
  display: flex;
  justify-content: center; 
}

.pagination span{
  text-align: center;
  width: 50px;
  font-size: 20px;
}

.pagination a{
  color: #818181;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 10px;
}

.pagination a:hover{
  width: 50px;
  height: 50px;
  background-color: #84b8eb;
  color: #FFF;
  border-radius: 100%;
  padding: 10px;
}
.current{
  font-weight: bold;
  color: #84b8eb;
  padding: 10px;
}
.col-md-5 {
  float: right; /* 右寄せにする */
  margin-right: 80px;  /* 右側の余白を調整する */
  width: 90%;  /* 幅を調整する */
}
.balloon3-left {
  position: absolute;  /* 絶対位置指定 */
  top: 30%;  /* 上端を中央に揃える */
  left: 250px;  /* 左端からの距離を調整 */
  margin-top: -150px;  /* 高さの半分をマイナスマージンで調整 */
  padding: 0 5px;
  width: 400px;
  height: 300px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  background: #ffcc75;
  border-radius: 50%;
  box-sizing: border-box;
}

.balloon3-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  margin-top: -15px;
  border: 20px solid transparent;
  border-right: 15px solid #ffcc75;
  z-index: 0;
}
.pomuo{
      padding: 20px 10px;
    }
 </style>