<h2><i class="far fa-lightbulb"></i><span>なんでんかんでんミーティングへようこそ</span></h2>
<div class="bg_pattern Rectangles"></div>
<div class="contents">
  <%= image_tag "panda2.png",:size =>'500x600',class: 'pomuo' %>
  <div class="balloon3-left">
<p>初めまして<br>
子供の気になることをみんなで話そう！<br>
まずは、気軽に登録してね！<br>
登録後は気になるミーティングに入って<br>
たくさん話をしましょう！</p>
</div>

   <div class="col-md-5 ">
    <h3 class="my-3 p-2" style="background-color: #474343; color: white;">New Meeting</h3>
    <table class="table">
      <tbody>
        <% @community.each do |community| %>
          <tr class="list">
            <td><%= community.name %></td>
            <td><%= community.explanation %></td>
            <% if user_signed_in? %>
              <td>
            <%= link_to "参加", user_community_post_boards_path(community), class: "btn btn-primary" %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="users_paginate">
    <%= paginate @community %>
   </div>
  </div>
</div>
  
  <style>
  p {
    font-family: 'Nunito Sans', sans-serif; /* 手書き風の可愛らしいフォントに設定 */
    font-size: 18px; /* 本文の文字サイズを調整 */
    font-weight: bold;
    color: #AA6822; /* テキストカラーを濃いグレーに設定 */
    background-color: transparent(0, 0, 0, 0.4);
  }
  h2 {
  position: relative;
  text-align: center;
  border: 2px solid #000;
  background: #EDDCB4;
}

h2:before,
h2:after {
  position: absolute;
  content: '';
}

h2:before {
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #fff;
}

h2:after {
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: 2px dashed #000;
  background: #fff;
}

h2 i {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  color: #AA6822;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 60px;
  position: absolute;
  z-index: 2;
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 60px;
  text-align: center;
}

h2 span {
  position: relative;
  z-index: 1;
  display: block;
  padding: 1.5rem;
}

h2 span:before,
h2 span:after {
  position: absolute;
  content: '';
}

h2 span:before {
  top: -34px;
  left: calc(50% - 34px);
  width: 68px;
  height: 40px;
  border: 2px dashed #000;
  border-radius: 50vw 50vw 0 0;
}

h2 span:after {
  position: absolute;
  top: 4px;
  left: calc(50% - 32px);
  width: 64px;
  height: 10px;
  background: #fff;
}
.users_paginate{
  width: 100%;
  margin: auto;
}

.pagination{
  text-align: center;
  display: flex;
  justify-content: center; 
}

.pagination span{
  text-align: center;
  width: 50px;
  font-size: 20px;
}

.pagination a{
  color: #818181;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 10px;
}

.pagination a:hover{
  width: 50px;
  height: 50px;
  background-color: #84b8eb;
  color: #FFF;
  border-radius: 100%;
  padding: 10px;
}
.current{
  font-weight: bold;
  color: #84b8eb;
  padding: 10px;
}
.col-md-5 {
  float: right; /* 右寄せにする */
  margin-right: 80px;  /* 右側の余白を調整する */
  width: 90%;  /* 幅を調整する */
}
.balloon3-left {
  position: absolute;  /* 絶対位置指定 */
  top: 30%;  /* 上端を中央に揃える */
  left: 350px;  /* 左端からの距離を調整 */
  margin-top: -60px;  /* 高さの半分をマイナスマージンで調整 */
  padding: 0 5px;
  width: 410px;
  height: 260px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  background: #ffcc75;
  border-radius: 50%;
  box-sizing: border-box;
}

.balloon3-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  margin-top: -15px;
  border: 20px solid transparent;
  border-right: 15px solid #ffcc75;
  z-index: 0;
}
.pomuo{
      padding: 20px 10px;
    }
    .bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffe9a7;
  opacity: 0.4;
  z-index: -1;
}
.Rectangles {
  background-image:  repeating-linear-gradient(45deg, #ffc107 25%, transparent 25%, transparent 75%, #ffc107 75%, #ffc107), repeating-linear-gradient(45deg, #ffc107 25%, #ffe9a7 25%, #ffe9a7 75%, #ffc107 75%, #ffc107);
  background-position: 0 0, 20px 20px;
  background-size: 40px 40px;
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: .025em;
  line-height: 1.8;
}
* {
  box-sizing: border-box;
}
.section {
  max-width: 1024x;
  margin: 0 auto;
  padding: 100px 20px 1000px;
}
._a {
  max-width: 300px;
  margin: 0 auto;
}
._a a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.0em 1.0em;
  border: 1px solid #222222;
  background: linear-gradient(to right, #ffffff 50%, #222222 50%);
  background-size: 200% auto;
  color: #222222;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  transition: .3s;
  position: relative;
}
._a a:after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #222222;
  border-bottom: 1px solid #222222;
}
._a a:hover {
  color: #ffffff;
  background-position: -100% 0;
}
 </style>