<div class="container p-4">
  <div class="row">
    <div class="col">
      <h2 class="mb-4 text-center">会員一覧</h2>

      <table class="table table-bordered">
        <thead style="background-color: #e9ecef;">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="align-middle"><%= user.id %></td>
            <td class="align-middle"><%=link_to user.name, admin_user_path(user.id) %></td>
            <td class="align-middle"><%= user.email %></td>
            <td class="<%= user.status == '制限中' ? 'text-warning' : 'text-success' %>"><%= user.status %></td>
            </tr>
              <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
      </div>
    </div>
  </div>
</div>
