<!DOCTYPE html>
<html>
  <head>
    <title>RediForKids</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/517dcc9e25.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%if request.fullpath.include? "/admin" %>
    <%= render '/layouts/admin_header'%>
  <% else %>
    <%= render 'layouts/user_header' %>
  <% end %>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>CopyRight Redi for kids Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>
</html>
<style>
p {
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 16px; 
    font-weight: bold; 
    color: #AA6822; 
    background-color: transparent(0, 0, 0, 0.4);
  }
 footer {
  position: fixed;
  bottom: -20px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}
</style>
