<!DOCTYPE html>
<html>
  <head>
    <title>RediForKids</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/517dcc9e25.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%if request.fullpath.include? "/admin" %>
    <%= render 'layouts/admin_header'%>
  <% else %>
    <%= render 'layouts/user_header' %>
  <% end %>
  </header>
  <body>
    <div>
  <%= render 'user/searches/form' %>
   </div>
    <%= yield %>
  </body>
</html>
