<!DOCTYPE html>
<html>
  <head>
    <title>RediForKids</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/517dcc9e25.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%if request.fullpath.include? "/admin" %>
    <%= render '/layouts/admin_header'%>
  <% else %>
    <%= render 'layouts/user_header' %>
  <% end %>
  </header>
  <body>
    <div>
  <%= render 'user/searches/form' %>
   </div>
   <body style="background-color: #FD7D33">
    <%= yield %>
  </body>
  <footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>
</html>
<style>
footer {
  background-color: black;
  height: 60px;
  position: fixed; /* フッターを下部に固定 */
  bottom: 0; /* フッターを画面の下に配置 */
  width: 100%; /* 幅を100%に設定 */
  z-index: 5;
}

footer p {
  color: #fff;
  text-align: center;
  line-height: 5px;  /* フッターの高さと同じ値に修正 */
}

</style>
